services:
  frontend:
    build: 
      context: .
      dockerfile: frontend/Dockerfile 
    container_name: frontend
    ports:
      - "8080:8080" 
    networks:
      my_app_net:
        ipv4_address: 10.0.1.1

  backend:
    build: 
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    depends_on:
      - db
    networks:
      my_app_net:
        ipv4_address: 10.0.2.1
      
  db:
    image: postgres:latest
    container_name: postgres-db
    ports:
      - "5432:5432"
    networks:
      my_app_net:
        ipv4_address: 10.0.3.1
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password

networks:
  my_app_net:
    ipam:
      config:
        - subnet: 10.0.0.0/16 
          gateway: 10.0.0.1 